@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


#memesDiv {
	width:750px;
	margin:auto;
}

.imgMeme {
	width:225px;
	height:225px;
	border: 1px solid #F7F7F7;
	border-radius:10px;

}

.fontawesome-edit {
	position: absolute;
	bottom:190px;
	left:15px;
	background-color: #fff;
	padding:5px;
	display: block;
	border-radius:3px;
	z-index: 2;
}

.hidden {
	display: none;
}



#nav {
	width:730px;
	height:40px;
	margin:auto;
	background:#F7F7F7;
	text-align: center;
}
#nav li{
	display: inline;
	position: relative;
	top:10px;
}
a {
	color:black;
}
a:visited {
	color:black;
}
.images {
	display: inline;
	margin:10px;
	width:225px;
	position: relative;
}

.imagesLarge {
	width:500px;
	height: 500px;
	border-radius:2px;
	float: left;
}

#oneMemeDiv {
	margin:auto;
	width:1000px;
}

#descriptionDiv {
	float: left;
	width: 400px;
	display: inline;
	margin-left:20px;
	position: relative;
	top:10px;
}

li {
	list-style: none;
}


#memeContainer {
	width:1000px;
}

#title {
	margin:0;
	padding:0;
}

#profileImg {
	border-radius:20px;
}

#user {
	position: absolute;
	top:10px;
	left:45px;
	color:#155889;
}

#line {
	height: 0px;
	border:0px;
	border-top:1px solid #EEEFEF;

}

#addForm {
	display: none;
	width:730px;
	margin:auto;
}

#addForm input {
	display: block;
	width:300px;
	padding-top: 20px;
	font-size: 14px;
}
#editDiv {
	display: none;
	width:730px;
	margin:auto;
}

#editForm input {
	display: block;
	width:300px;
	padding-top: 20px;
	font-size: 14px;
}

#submitBtn {
	height:40px;
	width:100px;
	display: block;
}
