body {
   background-color: #fafafa;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  bottom: 20px;
  background-color: white;
}

#title {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: #004879;
  position: relative;
  top: 2em;
}

#home {
  font-family:"Courier New", Courier, monospace;
  font-size: 20px;
  position: relative;
  bottom: 1em;
  left: 10em;
}

#home a {
  color: #004879;
}

#add {
  font-family:"Courier New", Courier, monospace;
  font-size: 20px;
  position: relative;
  bottom: 2em;
  left: 50em;
}

#edit {
  font-family:"Courier New", Courier, monospace;
  font-size: 20px;
  position: relative;
  top: 12em;
  right: 6em;
  background-color: white;
  width: 50px;

}

#add a {
  color: #004879;
}

#edit a {
  color: #004879;
}

#pictureContainer {
  width: 1000px;
  margin: auto;
}

img {
  height: 291.672px;
  width: 291.672px;
  padding: 10px;
  border-style: none;
}

.details img {
  position: relative;
  height: 500px;
  width: 500px;
}

#description {
  position: relative;
  left: 35em;
  bottom: 33em;
  width: 500px;
  color: #004879;
}

#user {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 5px;
}

.addPage {
  margin: auto;
  width: 400px;
  height: 500px;
}

#addForm {
  margin-top: 50px;
}

#addImage {
  font-family:"Courier New", Courier, monospace;
  width: 350px;
  margin-bottom: 15px;
  font-size: 20px;
}

#addTitle {
  font-family:"Courier New", Courier, monospace;
  width: 350px;
  margin-bottom: 15px;
  font-size: 20px;
}

#addDetail {
  font-family:"Courier New", Courier, monospace;
  width: 400px;
  height: 200px;
  border-color: #e3e3e3;
  font-size: 20px;
  margin-bottom: 15px;
}

#addButton {
  width: 175px;
  color: white;
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
  background-color: #004879;
  outline: none;
}

#addButton:hover {
  background-color: #004895;
}

#addButton:active {
  background-color: #004890;
}